*.pyc
*.pem
*.p12
misc/*
*snippets*

**/.terraform/*
.terraform.lock.hcl
*.tfstate
*.tfstate.*
crash.log
crash.*.log
.terraformrc
terraform.rc
override.tf
override.tf.json
*_override.tf
*_override.tf.json
terraform.json

.DS_Store