{% extends 'master.html' %}
{% block head %}
    <!-- Bootstrap core CSS -->
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/cover.css" rel="stylesheet">
{% endblock %}

{% block content %}
<div class="site-wrapper">

      <div class="site-wrapper-inner">

        <div class="cover-container">

          <div class="inner cover">
            <h1 class="cover-heading">g2g - the social learning platform</h1>
            <p class="lead"><br>Googlers teaching Googlers to be awesome</p>
<!--             <p class="lead">
              <a href="#" class="btn btn-lg btn-default">Learn more</a>
            </p> -->
          </div>

          <div class="mastfoot">
            <div class="inner">
              <p>Google Cloud Platform demo - inductive.io</p>
            </div>
          </div>

        </div>

      </div>

    </div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
    <script src="../../dist/js/bootstrap.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>

{% endblock %}